html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

.container {
  width: 400px;
  height: 400px;
  background-color: rgb(37, 43, 44);
  position: absolute;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.pacman {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: linear-gradient(
      315deg,
      transparent 50%,
      rgb(236, 211, 70) 50%
    ),
    linear-gradient(45deg, rgb(236, 211, 70) 50%, transparent 50%);

  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pacman.top {
  animation-name: moveTop;
}

.pacman.bottom {
  animation-name: moveBottom;
}

@keyframes moveBottom {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}

@keyframes moveTop {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}

.dot {
  margin-left: 61px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(236, 211, 70);
  animation-name: moveDot;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

* {
  box-sizing: border-box;
}

.dots {
  width: 300px;
  top: 50%;
  left: 50%;
  display: flex;
  position: absolute;
  overflow: visible;
}

@keyframes moveDot {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-75px);
  }
}

.eye {
  width: 12px;
  height: 12px;
  background-color: rgb(37, 43, 44);
  border-radius: 50%;
  position: absolute;
  top: 170px;
  left: 50%;

  animation-duration: 1s;
  animation-name: moveEye;
  animation-iteration-count: infinite;
}

@keyframes moveEye {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(4px, 4px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
